body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #fff;
    padding: 20px 0;
    position: sticky;
}
header h1 {
    margin: 0;
    font-size: 2em;
    color: #FF6347;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;}

header nav ul li {
    display: inline;
    margin-right: 20px;
}
header nav ul li a {
    color: #FF6347;
    text-decoration: none;
    text-align: left;
}

main {
    padding: 40px 0;
}

section {
    margin-bottom: 40px;
}

.section-title {
    text-align: center;
    margin-bottom: 20px;
}
.section-title h2 {
    color: #333;
    font-size: 2em;
}
.event {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.event img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.event h3 {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 5px;
    text-align: center;
}

.event p {
    color: #666;
    margin-bottom: 5px;
}

.about {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.about h2 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.about p {
    color: #666;
    margin-bottom: 10px;
}

.contact {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.contact h2 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact ul li {
    color: #666;
    margin-bottom: 5px;
}
