{% load static%}
<link href="{% static 'styles.css' %}" rel="stylesheet">
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мир Сибири</title>
    <link href="{% static 'css/uikit.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
    <link rel="shortcut icon" type="image/x-icon" href="https://festmir.ru/bitrix/templates/festival/favicon.ico" />
</head>

<body> 
    <header> 
        <div class="container">
            <h1>Фестиваль "Мир Сибири"</h1>
            <nav>
                <ul> 
                    <li><a href="#about">Фестиваль</a></li> 
                    <li><a href="#">Музыка</a></li> 
                    <li><a href="#">Ремесла</a></li>
                    <li><a href="#">Трансляция</a></li>
                    <li><a href="#contact">Контакты</a></li>    
                </ul> 
            </nav> 
        </div> 
    </header> 
 
    <main> 
        <section id="about" class="about"> 
            <div class="container"> 
                <div class="section-title"> 
                    <h2>О фестивале</h2> 
                </div> 
                <p>Фестиваль "Мир Сибири" - это ежегодное событие, посвященное культурному наследию и традициям Сибири. Он объединяет участников и зрителей из разных регионов, чтобы отметить богатство и разнообразие культурного наследия Сибири.</p> 
            </div> 
        </section> 
 
        <section id="schedule"> 
            <div class="container"> 
                <div class="section-title"> 
                    <h2>Новости</h2> 
                </div> 
 
                <div class="event"> 
                    <h3>Приглашаем творческие семьи для участия в фестивале</h3>
                    <img src="https://festmir.ru/upload/iblock/3dc/jhxf36c81h4zoh8azij8w4on0s5kfn8n.jpeg" alt="Открытие фестиваля" width="400" height="300">
                    <p>20.03.2024</p>
                </div>
            </div> 
        </section> 
 
        <section id="contact" class="contact"> 
            <div class="container"> 
                <div class="section-title"> 
                    <h2>Контакты</h2> 
                </div> 
                <p>Организаторы фестиваля:</p> 
                <ul> 
                    <li>Телефон: +7 (XXX) XXX-XX-XX</li> 
                    <li>Email: info@mir-sibiri-festival.ru</li> 
                    <li>Адрес: ул. Пушкина, 123, г. Абакан</li> 
                </ul> 
            </div> 
        </section> 
    </main>
</body>  
</html>